<form onsubmit="enviarMsg(); return false ">
  <label for="texto">Email</label>
  <input type="email" id="email" name="texto" placeholder="ingrese email" required></imput>
  <br>
  <label for="textArea">Escribir</label>
  <input type="textarea" id="textArea" placeholder="escribir aquí"></imput>
  <input type="submit" name="enviar" />
</form>