<form action='/uploadfile' enctype='multipart/form-data' method='POST'>
  <label for='producto '>producto</label>
  <input id='productoId' type='text' name='producto' />
  <br />
  <label for='precio '>precio</label>
  <input id='precio' type='number' name='precio' />
  <br />

  <input type='file' name='myFile' />
  <br />

  <input type='submit' value='cargar un producto' />
  <br />
</form>